/* Ajout des polices d'écritures (Poppins) */
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

:root {
  --main-color: #1f32a4;
}

/* Tout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* Boutons */
button,
.button {
  background-color: rgb(231, 231, 231);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
}

button:hover,
.button:hover {
  opacity: 0.6;
}

.button.colored {
  background-color: var(--main-color);
  color: white;
}

/* Liens hyper-textes */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.6;
}

/* Header + navigation */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

header img {
  width: 300px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer img {
  width: 180px;
}
