main{
	margin-top: 15%;
	margin-bottom: auto;
	display: flex;
	justify-content: center;
	align-items: center	;
}
.message_envoye{
	height: 150px;
	width: 150px;
	padding-right: 30px;
}
h1{
	text-decoration: none;
	font-weight: 300;
}

footer {
		bottom : 0px;
		position : absolute;
}