main {
  margin: 50px;
}

.form-container {
  display: flex;
  gap: 50px;
}

form {
  width: 70%;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
}

form > div {
  margin: 50px 0;
  display: flex;
}

form > div > div {
  width: 100%;
  margin-right: 15px;
}

label {
  display: block;
}

form > button.colored {
  display: flex;
  flex-direction: row-reverse;
}

img.participer {
  width: 70%;
}

footer {
  position: static;
  bottom: 0px;
}
